.frompeople-container{
  display: inline-flex;
  padding: 15px 18px;
  justify-content: center;
  align-items: center;
  gap: 6.667px;

  border-radius: 20px 20px 0px 20px;
  background: var(--Point-04, #F8ECE8);

  width:max-content;
  max-width: 250px;
  height:max-content;

}

.text-container {
  word-wrap: break-word; /* 텍스트가 길어지면 자동으로 줄바꿈되게 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  max-width: 100%; /* 텍스트 박스가 div 내에서만 확장되도록 하게하는 코드 */
}