* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.chatRoom-container{
  width: 100vw;
  height: calc(100vh - 88px);

  background: var(--Gradient-02, linear-gradient(180deg, #E9D9D3 0%, #D3DDEA 100%));

  display: flex;
}

.chatRoom-innercontainer{
  width: 1060px;
  height: calc(100vh - 88px);
  flex-shrink: 0;
  margin-left: 230px;

  background: var(--Gradient-02, linear-gradient(180deg, #E9D9D3 0%, #D3DDEA 100%));

  /* Drop Shadow _ Big */
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.10);

  display: flex;
  flex-direction: row;
}

.chatBot{
  margin-left: 100px;
  margin-top: 600px;
}