* {
  box-sizing: border-box;
}

.gradLogin-container{
  display: flex;
  flex-direction: column;
  width:100vw;
  height:calc(100vh - 88px);
  background: var(--Gradient-_-Main, linear-gradient(97deg, #E9D9D3 0%, #D3DDEB 100%));
}

.gradLogin-lar-container1{
  display:flex;


  width:auto;
  height: 535px;
}

.gradLogin-med-container1{
  width: 812px;
  height: 535px;

  margin-left: 161px;
}

.gradLogin-med-container1-text1{
  margin-top: 262px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
}

.gradLogin-med-container1-text1 span{
  color: var(--Primary-01, #25569D);

  /* Title 01 */
  font-family: "SUIT Variable";
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 84px; /* 150% */
}

.gradLogin-med-container1-text2{
  width: 544px;
  height: 60px;
  flex-shrink: 0;

}

.gradLogin-med-container1-text2 p{
  color: #25569D;

  /* Body 01 _ M */
  font-family: "SUIT Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.gradLogin-med-container1-text2 span{
  color: #25569D;

  /* Body 01 _ M */
  font-family: "SUIT Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.gradLogin-med-container2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:416px;

  margin-right:120px;
}

.gradLogin-med-container2-icon1{
  width: 315px;
  height: 134px;
  flex-shrink: 0;

  border-radius: 50px 0px 50px 50px;
  background: var(--Primary-01, #25569D);

  margin-top: 74px;
  margin-bottom: 16px;
  padding: 35px 42px;


}

.gradLogin-med-container2-icon1 span{
  color: #FFF;

  /* Title 02 */
  font-family: "SUIT Variable";
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 152.381% */
}

.gradLogin-med-container2-icon2{
  width: 198px;
  height: 130px;
  flex-shrink: 0;

  padding:40px;
  padding-top: 45px;
  border-radius: 0px 50px 50px 50px;
  background: var(--Point-01, #6C3F2E);
  margin-right: 160px;
}


.gradLogin-lar-container2{
  width:auto;
  height: 102px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.gradLogin-small-container1{
  position: absolute;
  top:-120px;
  left:150px;
  display: inline-flex;
  height: 38px;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 66.667px;
  background: var(--Gray-10, #FFF);
  
  /* Drop Shadow _ Small */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);

  cursor:pointer;
}

.gradLogin-small-container1 span{
  color: var(--Primary-01, #25569D);

  /* Body 02 _ M */
  font-family: "SUIT Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}