.hansum-page {
  background: var(--Gray-10, #FFF);}
  
  .hansum-page h1 {
    text-align: center;
    margin-bottom: 0px;
  }

  
  .banner-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;       /* 수직 중앙 정렬 */
    width: 100%;               /* 화면 너비 100% */
    height: 100%;              /* 컨테이너 높이 */
    flex-shrink: 0;
    background: linear-gradient(91deg, #E9D9D3 0.23%, #D3DDEA 99.93%);
  }
  
  .banner-image-container img {
    max-width: 100%;           /* 컨테이너 너비에 맞춰 조정 */
    height: auto;              /* 원본 비율 유지 */
    /* object-fit: none;  기본값 그대로 사용 */
  }
  
  
  .banner-text{
    color: var(--Primary-01, #25569D);
text-align: center;

/* Title 04 */
font-family: "SUIT Variable";
font-size: 27px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 148.148% */
  }

  .banner-text2{
    color: var(--Primary-01, #25569D);
text-align: center;

/* Body 01 _ M */
font-family: "SUIT Variable";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
  }
  
/* 
  .hansum-banner{
    background: var(--Gradient-02, linear-gradient(180deg, #E9D9D3 0%, #D3DDEA 100%));
  
    
    height: 340px;
    width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  } */
/*   
  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
   */