.chatlist-container{
  height:calc(100vh - 88px);
  width:300px;

  background: var(--Point-03, #ffffff);
  border: 2px solid #D3DDEA;


  display: flex;
  flex-direction: column;

  overflow-y: auto;
}


.chatlist-item{
  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 2px solid #D3DDEA;
  background: white;

  height: 100px;
  flex-shrink: 0;
  cursor: pointer;

}
.chatlist-item.active{
  border: 1px solid var(--Primary-01, #25569D);
  background: var(--Primary-01, #25569D);
}

.chatlist-item-img{
  width: 50px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 0px 50px 50px 50px;
  background:  lightgray 50% / cover no-repeat;

  margin-left: 20px;
  position:relative;
}

.chatlist-item-textcontainer{
  display: flex;
  flex-direction: column;

  margin-left: 19px;
}

.chatlist-item-textcontainer-up{
  display:flex;
  flex-direction: row;

  margin-bottom: 5px;
}

.chatlist-item-textcontainer-up-name{

  width: 127px;
  height: 22.237px;

  color: var(--Primary-01, #25569D);

  /* Body 01 _ EB */
  font-family: "SUIT Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 150% */

}

.chatlist-item-textcontainer-up-name.active{
  color: #ffffff;
}

.chatlist-item-textcontainer-last{
  width: 141px;
  height: 18.342px;
  flex-shrink: 0;

  color: var(--Primary-01, #25569D);

  /* Body 04 _ M */
  font-family: "SUIT Variable";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 154.545% */
}

.chatlist-item-textcontainer-last.active{
  color: #ffffff;
}

.chatlist-item-textcontainer-last.unread{
/* Body 04 _ M */
  font-family: "SUIT Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 17px; /* 154.545% */
}

.chatlist-item-check{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;

  /* 하트 위치 위아래 옆 조정 */
  height:42px;
  margin-left: 10px;
  
}

.chatlist-item-textcontainer-up-img{
  width: 18px;
  height:18px;
}

.profile{
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redDot{
  padding-top: 1px;
  padding-left: 1px;
  border-radius: 80px;
  width: 12px;
  height: 12px;
  background-color: #FFF;
  position:absolute;
  margin-left: 56px;
  margin-top: 40px;
}

.redDotIn{
  border-radius: 80px;
  width: 10px;
  height: 10px;
  background-color: #9D2525;
}

.chatlist-item-textcontainer-up-img.unread{

}