* {
  box-sizing: border-box;
}


.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #D3DDEA;
  border: 0px;
  overflow: hidden; /* 넘치는 부분 숨김 */
}

.footer-lar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* 최대 너비 제한 */
  height: 245px;
  padding: 0 20px; /* 좌우 여백 추가 */
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}

.footer-med-container1{
  display:flex;
  flex-direction: column;
  align-items: flex-end;

  width:132px;
  height:144px;
}

.footer-med-container1-text{
  color: var(--Primary-01, #25569D);

  /* Body 03 _ EB */
  font-family: "SUIT Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 150% */

  margin-top: 68px;
  margin-bottom: 5px;
}

.footer-med-container1-btn{
  display: inline-flex;
  padding: 6px 10px;
  align-items: center;
  gap: 5.333px;
  width:65px;

  border-radius: 34px;
  background: var(--Gray-10, #FFF);
  
  /* Drop Shadow _ Small */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
  margin-left: 5px;
}

.footer-med-container1-btn-text{
  color: var(--Primary-01, #25569D);

  /* Caption _ M */
  font-family: "SUIT Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
}

.footer-med-container2{
  display:flex;
  justify-content: space-between;

  width:1244px;
  height:238px;
}

.footer-small-container1{
  margin-left: 52px;
  margin-top: 44px;
}
.footer-small-container1 p {
  color: var(--Primary-01, #25569D);

  /* Caption _ M */
  font-family: "SUIT Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
}

.footer-small-container1-text2{
  margin-top: 30px;
}


.footer-small-container1-text3{
  display:flex;
  flex-direction: row;

  margin-top: 13px;
}


.footer-small-container1-text3 span{
  color: var(--Primary-01, #25569D);

  /* Caption _ B */
  font-family: "SUIT Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 160% */
}

.footer-small-container2{
  display:flex;
  flex-direction: column;
  align-items: flex-end;

  margin-right: 50px;
  margin-top: 44px;
}

.footer-small-container2 p {
  color: #25569D;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-small-container2-img{
  margin-right: 50px;
}

.footer-small-container2-text1{
 margin-top: 57px;
}

.footer-small-container2-text1 span{
  color: #25569D;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}

.footer-small-container2-text2{
  margin-top: 5px;
 }

 .imgmargin{
  margin-top: 44px;
 }

 .btnColumn{
  display: flex;
  flex-direction: row;
 }

 .github-btn{
  width:12px;
  height:12px;
 }

 a{
  text-decoration: none;
 }