
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  background-color: #fff;
  border-bottom: 2px solid #0c2f6d;
  padding: 0 40px;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo {
  width: 99.857px;
  height: 32px;
  flex-shrink: 0;
  aspect-ratio: 99.86/32.00;
}

.header-title {
  font-size: 1.4rem;
  color: #0c2f6d;
  font-weight: 600;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.header-nav li {
  cursor: pointer;
  display: inline-flex;
padding: 8px 21px;
justify-content: center;
align-items: center;
gap: 10px;
}

.header-nav li:hover {
  opacity: 0.7;
}

.menu-selected {
  display: inline-flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  background: var(--Primary-01, #25569D);
  color: var(--Gray-10, #FFF);

  /* Body 01 _ B */
  font-family: "SUIT Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */

  /* Drop Shadow _ Small */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

