.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25569D;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    opacity: 0.8;
  }
  